*,::before,::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

:root{
	--base-px:10px;
	--green:#EEEEE6;
	--white:white;
	--black:#353432;

	--radius:2rem;
}

@font-face {
    font-family: 'maisonbleue-bold';
    src: url('../fonts/MaisonNeue-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'maisonbleue-book';
    src: url('../fonts/MaisonNeue-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;


}

html{
	font-size: var(--base-px);
}

body{
	font-family: popins, sans-serif;
	font-size: 1.4rem;
}

section{
	position: relative;
}

img{
	width:100%;
	height: auto;
}

a{
	text-decoration: none;
}

.container{
	width: 900px;
	margin-inline: auto;
}

.icon-cart{
	-webkit-mask:url('data:image/svg+xml,<svg width="50px" height="50px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><circle cx="16.5" cy="18.5" r="1.5"/><circle cx="9.5" cy="18.5" r="1.5"/><path d="M18 16H8a1 1 0 0 1-.958-.713L4.256 6H3a1 1 0 0 1 0-2h2a1 1 0 0 1 .958.713L6.344 6H21a1 1 0 0 1 .937 1.352l-3 8A1 1 0 0 1 18 16zm-9.256-2h8.563l2.25-6H6.944z"/></svg>');
		display: inline-block;
		width: 50px;
		height: 50px;
		background: var(--black);
}

.row{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap:2rem;
}

.btn{
	display: inline-block;
	padding: .5rem 1rem;
	border-radius: 20px;
	color: var(--white);
	background-color: var(--black);
	text-align: center;
}




.col-1{grid-column: span 1;}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-7{grid-column: span 7;}
.col-8{grid-column: span 8;}
.col-9{grid-column: span 9;}
.col-10{grid-column: span 10;}
.col-11{grid-column: span 11;}
.col-12{grid-column: span 12;}


/* CART */

body.open section.cart{
	right: 0;
}

section.cart {
	transition:right .5s ease;
    position: fixed;
    height: 100vh;
    width: min(500px, 100%);
    background: var(--black);
    z-index: 5;
    right: -100%;
    top: 0;
    display: grid;
    grid-template-rows: 50px 1fr 40px 80px;
	color: var(--white);

	.title{
		font-size: 2rem;
		font-weight: 200;
		text-align: center;
		align-content: center;
	}

	.total,
	.close_pay{
		display: grid;
		grid-template-columns: 1fr 1fr;
		
		text-align: center;
		align-content: center;
	}


	.total{
		background-color: gray;
		
	}

	.close_pay{
		position: relative;
		grid-template-rows: 1fr;
	}

	.close,
	.pay{
		display: flex;
        align-items: center;
        justify-content: center;
		color: black;
		cursor: pointer;

		&::after{
			content: '';
			position: absolute;
			width: 50%;
			height: 100%;
			z-index: -1;
		}

	}

	.close::after{
		left:0;
		background-color: #D3D3D3;
	}
		
	

	.pay::after{
		right: 0;
		background-color: #FFA500;
	}

	.item{
		display: grid;
		grid-template-columns: 50px 100px 1fr 80px 100px;
        place-items: center;
	}

	.item_img img{
		width: 80%;
	}

	.item_qty{
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.item_qty_button{
		height: 20px;
		aspect-ratio: 1;
		background-color: grey;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.item_trash{
		cursor: pointer;
	}
}


/* HEADER */

body.open {
	header,
	.products{
		transform: translateX(-250px);
	}
}

header,
.products{
	transition: transform .5s ease;
}

header{
	
	padding: 1rem;
	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.cart{
		position: relative;
		cursor: pointer;

		.nbItem{
			background-color: red;
			position: absolute;
			width: 23px;
			height: 23px;
			border-radius: 100%;
			color:var(--white);
			text-align: center;
			align-content: center;
			right:0;
			bottom: 5px;
		}


	}

}


.products{
	article{

		padding-block: 1.5rem;
		background-color: var(--green);
		text-align: center;
		border-radius: 20px;
		

		img{
			width: 90%;
			filter: drop-shadow(0px 50px 19px var(--black));
		}

		.price{
			letter-spacing: 1rem;
		}

		h1{
			font-size: large;
			font-weight: 800;
		}

		& > *:not(:last-child){
			margin-bottom: 1rem;
		}
	}


}



































@media screen and (max-width:1350px){

	.container{
		width: 600px;
	}

	.col-md-1{grid-column: span 1;}
	.col-md-2{grid-column: span 2;}
	.col-md-3{grid-column: span 3;}
	.col-md-4{grid-column: span 4;}
	.col-md-5{grid-column: span 5;}
	.col-md-6{grid-column: span 6;}
	.col-md-7{grid-column: span 7;}
	.col-md-8{grid-column: span 8;}
	.col-md-9{grid-column: span 9;}
	.col-md-10{grid-column: span 10;}
	.col-md-11{grid-column: span 11;}
	.col-md-12{grid-column: span 12;}

	

	
}

@media screen and (max-width:1050px){

	.container{
		width: 400px;
	}

	.col-sm-1{grid-column: span 1;}
	.col-sm-2{grid-column: span 2;}
	.col-sm-3{grid-column: span 3;}
	.col-sm-4{grid-column: span 4;}
	.col-sm-5{grid-column: span 5;}
	.col-sm-6{grid-column: span 6;}
	.col-sm-7{grid-column: span 7;}
	.col-sm-8{grid-column: span 8;}
	.col-sm-9{grid-column: span 9;}
	.col-sm-10{grid-column: span 10;}
	.col-sm-11{grid-column: span 11;}
	.col-sm-12{grid-column: span 12;}

}



@media screen and (max-width:850px){

	.container{
		width: 320px;
	}

	.col-xs-1{grid-column: span 1;}
	.col-xs-2{grid-column: span 2;}
	.col-xs-3{grid-column: span 3;}
	.col-xs-4{grid-column: span 4;}
	.col-xs-5{grid-column: span 5;}
	.col-xs-6{grid-column: span 6;}
	.col-xs-7{grid-column: span 7;}
	.col-xs-8{grid-column: span 8;}
	.col-xs-9{grid-column: span 9;}
	.col-xs-10{grid-column: span 10;}
	.col-xs-11{grid-column: span 11;}
	.col-xs-12{grid-column: span 12;}




}

@media screen and (max-width:550px){



	.col-xxs-12{grid-column: span 12!important;}

	
	
}